name: Run tests
on: [push]
jobs:
  test:
    runs-on: ${{ matrix.os }}-latest

    strategy:
      matrix:
        os: [ubuntu]
        ruby: ['4.0', '3.4', '3.3', '3.2', '3.1', '3.0', '2.7']

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '16'

    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        rubygems: 3.4.22

    - name: Cache Calibre
      uses: actions/cache@v4
      with:
        path: /tmp/calibre-installer-cache
        key: ${{ matrix.os }}-calibre

    - name: Install Calibre
      run: |
        sudo -v
        sudo apt-get update
        sudo apt-get install -y libegl1 libopengl0
        wget -nv -O- https://download.calibre-ebook.com/linux-installer.sh | sudo sh /dev/stdin version=6.26.0

    - name: Cache bundler
      uses: actions/cache@v4
      with:
        path: vendor
        key: ${{ matrix.os }}-gems-${{ matrix.ruby }}

    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y imagemagick libmagickwand-dev
        bundle config set --local with 'dev'
        bundle config set --local path 'vendor/bundle'
        bundle install

    - name: Run tests
      run: bundle exec rspec

    - name: Run Rubocop
      run: bundle exec rubocop

    - name: Print debug log when failure
      if: failure()
      run: |
        for log in $(find vendor/bundle -type f -name "*.log"); do
          echo "Log file: $log"
          cat $log
        done
